.features {
  &__list {
    margin-left: -30px;
    margin-top: -30px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    flex-basis: calc((100% - 60px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }

  &__icon-bg {
    background: var(--grey-background-color);
    border-radius: 4px;

    text-align: center;
    padding: 25px 100px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      width: 354px;
    }
  }

  &__title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
  }
}
