.header {
  border-bottom: 1px solid #ececec;

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;

  &_dark {
    color: var(--title-text-color);
  }
}

.menu-nav__list {
  display: flex;
}

.menu-nav__item + .menu-nav__item {
  margin-left: 50px;
}

.menu-nav {
  align-items: center;

  &__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 34px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
    text-decoration: none;

    transition: color 250ms var(--cubic-bezier);

    &_active:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;

      border-radius: 2px;
      background-color: var(--blue-accent);
    }
  }
}

.menu-nav__link_active {
  color: var(--blue-accent);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header__contact-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-bezier);
  color: var(--text-color);
  text-decoration: none;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header__nav-icon {
  fill: currentColor;
  margin-right: 10px;

  &:hover {
    fill: var(--blue-accent);
  }
}

@media screen and (max-width: 767px) {
  .menu-nav__list {
    display: none;
  }

  .header {
    &__contact {
      display: none;
    }

    &__mobile-menu-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
    }

    &__mobile-menu-icon {
      fill: var(--title-text-color);
      transition: fill 250ms var(--cubic-bezier);
    }

    &__mobile-menu-icon:hover,
    &__mobile-menu-icon:focus {
      fill: var(--blue-accent);
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__mobile-menu-btn {
      display: none;
    }

    &__nav-icon {
      width: 14px;
      height: 10px;

      &_margin {
        margin-right: 10px;
      }

      &_mail {
        width: 14px;
        height: 10px;
      }

      &_tel {
        width: 10px;
        height: 14px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__mobile-menu-btn {
      display: none;
    }

    &__contact {
      display: flex;
      margin-left: auto;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &__contact-item_margin {
      margin-left: 30px;
    }
  }

  .menu-nav {
    align-items: center;

    &_margin {
      margin-left: 93px;
    }
  }
}
